.box{
	top: 50%;
	left: 50%;
	transform: translate(+50%, -50%);
	direction: rtl;
}	
.box input{
	font-size:30px;
	color: #313131;
	transition: 0.3s all;
}
.box input:hover{
	color: #f1c40f;
}
ion-icon:hover{
	cursor:pointer;
	color: #f1c40f;
} 
.b1:hover ~ a{
	color: #f1c40f
}
.b2:hover ~ a{
	color: #f1c40f
}
.b3:hover ~ a{
	color: #f1c40f
}
.b4:hover ~ a{
	color: #f1c40f
}
.b5:hover ~ a{
	color: #f1c40f
}

